@font-face {
    font-family: 'Brown Std';
    src: url('/assets/BrownStd-Regular.woff2') format('woff2'),
         url('/assets/BrownStd-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Brown Std';
    src: url('/assets/BrownStd-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
body {
    font-family: 'Brown Std', sans-serif;
    font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Brown Std', sans-serif;
    font-weight: bold;
}

